<div class="text-sm font-literata text-gray-800">
  <div class="fixed w-full bg-black/[.20]  text-white font-serif">
    <nav class="">
      <div class="flex  justify-around items-center">
        <div class="text-center  p-1">
          <p>Elite</p>
          <p class="font-rose text-4xl leading-6">Nina Rose</p>
          <p>Vip luxury companion</p>
        </div>
        <div class="flex font-bold  text-xs">
          <span class="p-3"><button routerLink="/home">HOME</button></span>
          <span class="p-3"><button routerLink="/aboutme">ABOUT ME</button></span>
          <span class="p-3">PHOTO GALLERY</span>
          <span class="p-3">TOURS</span>
          <span class="p-3">MY WISHLIST</span>
          <span class="p-3">ETIQUETTE</span>
          <span class="p-3"><button routerLink="/rate">ESCORT RATES</button></span>
          <span class="p-3">LOCATIONS</span>
          <span class="p-3">CONTACT</span>
          <span class="p-3">BLOG</span>
        </div>
      </div>
    </nav>
  </div>
  <div class="w-full h-full p-60 bg-cover mb-16" style="background-image: url('https://www.elite-ninarose.com/themes/bespoke/img/aboutme-banner.jpg')" >
    <div class="text-center text-white text-4xl">
      <div class="text-base">
        TIME TO KNOW MORE
      </div>
      <div class="text-6xl">
        ABOUT ME
      </div>
    </div>
  </div>
  <div class="text-center text-xl mb-16">
    Facts About Me
  </div>
  <div class="mb-16">
    <div class="flex justify-around">
      <div>
        <p class="text-xl text-center">Hair Color</p>
        <p class="text-xs text-center">Long & brown</p>
      </div>
      <div>
        <p class="text-xl text-center">Eyes</p>
        <p class="text-xs text-center">brown/green</p>
      </div>
      <div>
        <p class="text-xl text-center">My height</p>
        <p class="text-xs text-center">175cm</p>
      </div>
      <div>
        <p class="text-xl text-center">Dress size</p>
        <p class="text-xs text-center">EU38</p>
      </div>
      <div>
        <p class="text-xl text-center">Country</p>
        <p class="text-xs text-center">Switzerland</p>
      </div>
      <div>
        <p class="text-xl text-center">Languages</p>
        <p class="text-xs text-center">English, Dutch, French</p>
      </div>
    </div>
  </div>
  <div>
    <div class="w-5/6 mx-auto">
      <div class="flex justify-around">
        <div class="bg-cover bg-no-repeat w-1/2 h-96" style="background-image: url('https://www.elite-ninarose.com/assets/staff/1634641579_staff_120_616ea6ab7e614.jpg')"></div>
        <div class="w-2/5 bg-gray-200 p-8">
          <div class="text-2xl font-bold mb-4">What i Like</div>
          <div class="flex justify-between">
            <div class="font-bold">
              <div class="mb-2">Lingerie</div>
              <div class="mb-2">Clothes</div>
              <div class="mb-2">High Heels</div>
              <div class="mb-2">Handbags</div>
              <div class="mb-2">Perfume</div>
              <div class="mb-2">cosmetic</div>
              <div class="mb-2">Flowers</div>
              <div class="mb-2">Food</div>
              <div class="mb-2">Drinks</div>
              <div class="mb-2">Watches</div>
              <div class="mb-2">Jewelry</div>
              <div class="mb-2">Sneakers</div>
              <div class="mb-2">Candles</div>
              <div class="mb-2">Home</div>
              <div class="mb-2">Slides</div>
            </div>
            <div>
              <div class="mb-2">Agent Provocateur, La Perla</div>
              <div class="mb-2">Ysl, Chanel, Balmain</div>
              <div class="mb-2">Louboutin, Valentino, YSL</div>
              <div class="mb-2">Hermes, Chanel, Tom Ford</div>
              <div class="mb-2">Crème de la Mer, La Prairie</div>
              <div class="mb-2">White or red roses</div>
              <div class="mb-2">Japanese, Peruvian, French</div>
              <div class="mb-2">Vintage champagne, wine</div>
              <div class="mb-2">Cartier, Rolex, Patek Philippe</div>
              <div class="mb-2">Van Cleef & Arpels, Cartier</div>
              <div class="mb-2">Valentino, Louis Vuitton, Prada</div>
              <div class="mb-2">Baobab Collection</div>
              <div class="mb-2">Kaws, Bearbrick, Apple</div>
              <div class="mb-2">Hermes, Chanel, Dior</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

