<div class="text-sm font-literata text-gray-800">
  <div class="fixed w-full bg-black/[.20]  text-white font-serif">
    <nav class="">
      <div class="flex  justify-around items-center">
        <div class="text-center  p-1">
          <p>Elite</p>
          <p class="font-rose text-4xl leading-6">Nina Rose</p>
          <p>Vip luxury companion</p>
        </div>
        <div class="flex font-bold  text-xs">
          <span class="p-3"><button routerLink="/home">HOME</button></span>
          <span class="p-3"><button routerLink="/aboutme">ABOUT ME</button></span>
          <span class="p-3">PHOTO GALLERY</span>
          <span class="p-3">TOURS</span>
          <span class="p-3">MY WISHLIST</span>
          <span class="p-3">ETIQUETTE</span>
          <span class="p-3"><button routerLink="/rate">ESCORT RATES</button></span>
          <span class="p-3">LOCATIONS</span>
          <span class="p-3">CONTACT</span>
          <span class="p-3">BLOG</span>
        </div>
      </div>
    </nav>
  </div>
  <div class="block">
    <div class="w-full h-full p-96 bg-cover" style="background-image: url('https://www.elite-ninarose.com/themes/bespoke/img/hero.jpg')" >
      <div class="">
        <div class="text-white text-4xl text-center">
          <div class="text-base">
           Elite
          </div>
          <div class="text-6xl">
            NINA ROSE
          </div>
          <div>INTERNATIONAL TRAVEL COMPANION</div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-1/2 m-auto">
      <div class="mt-16 mb-16 text-center font-bold text-3xl">
        <p>Independent International</p>
        <p>Escort Nina Rose</p>
      </div>
      <div class=" italic text-gray-400 text-3xl text-center m-16">New OnlyFans page!</div>
      <div>
        <p class="font-bold mb-4">Hello, let me begin by offering you a warm welcome to my official website. </p>
        <p class="mb-4">Are you a successful gentleman ;who seeks the excitement and passion of a romantic affair without&nbsp;the ties of a traditional commitment? Perhaps you travel extensively for work and live a very busy and demanding lifestyle, with little to no space for traditional dating, but crave the occasional company and affection of a beautiful charming lady over a candlelit dinner and a bottle of champagne? Then I am the girl of your dreams!</p>
        <p class="font-bold mb-4">I am glad you finally found me... enchanté, the pleasure is all mine! </p>
        <p class="mb-4">My name is Nina Rose and I am for sure that exquisite companion that any gentleman with high expectations dream about. I have often been told that I present an instant comfort and ease, a woman that you somehow just connect so easily and effortlessly with, a genuine, intellectually curious lady who enjoys making you smile, laugh and most importantly feel good. I live in Switzerland and am fascinated by the beautiful nature and luxury lifestyle this country has to offer. I have a true passion for what I do. I am an elite upscale low volume companion and choose my dates selectively. Living my life free, exploring the world, meeting new interesting and generous people are a few reasons I love being an high class companion.</p>
        <p class="font-bold mb-4">The services I offer are exquisite and memorable as I cater to your desires to make every intimate moment unforgettable.</p>
        <p class="mb-4">I believe that you, like me, are looking for a passionate and elegant yet fun-loving and relaxed encounter, something seductive and playful yet completely discreet and free from any judgment. I imagine we both value romance and excitement, but also an experience that comes with no responsibilities or strings attached. And that we both place the importance on the intellectual and emotional connection. Wishing to build a passionate connection and genuine chemistry together, in a comfortable and appealing atmosphere.</p>
        <p class="mb-4">I especially enjoy the company of self assured, positive attitude, high achieving gentlemen who values discretion, elegance and genuinely passionate connections. If you seek a sophisticated, smart, beautiful companion, who recognises and appreciates these qualities, I am the woman for you.</p>
        <p class="mb-32">It would be my absolute pleasure to accompany you on an exclusive dinner date or a sensual evening out. I am also available to travel. Whether that is somewhere close by or across the globe I am passport ready and excited to meet and accompany you wherever whenever.</p>
      </div>
  </div>
  <div class="mb-32 w-4/5 mx-auto">
    <div class="flex justify-around ">
      <div class="xl:w-1/3 mx-auto my-4">
        <img src="https://www.elite-ninarose.com/assets/pages/1634641965_pages_129_616ea82d5f262.jpg">
      </div>
      <div class="bg-gray-200 border-b-gray-100 border-2 p-10 h-full xl:w-3/5 mx-auto">
        <p class="font-bold text-center text-3xl my-8">Your unforgettable experience starts with me.</p>
        <p class="mb-4">I like to select my clientele and only spend time with men that are up for the challenge, with gentlemen that appreciate beauty, intelligence, worship femininity and explore her power of seduction. </p>
        <p class="mb-4">I always say that my tastes are simple and I am easily satisfied with the best of everything. Aiming for the best, this is my signature, my etiquette. We will share fun and unforgettable moments at every event or place of your choice. </p>
        <p class="font-bold mb-4">If you are interested in moving on to the next step in spending some time with me, you can text me on my number: +41779389628 or email me to </p>
        <p class="mb-4">Should you be eager to arrange a meeting with me whilst using my brand new website, you can also complete and submit my contact form and I will try to respond to your enquiry as soon as possible. I highly recommend scheduling our date in advance to secure my availability.</p>
        <p class="mb-4">I look forward to hearing from you soon and am excited to see you in the near future.</p>
        <p class="mb-4">Your Fantasy Girl awaits you! Until we meet!</p>
        <div class="text-center p-1">
          <p class="">Elite</p>
          <p class="font-rose text-4xl leading-6">Nina Rose</p>
          <p>Vip luxury companion</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-4/5 mx-auto mb-32">
    <div class="flex justify-around">
      <div class="w-4/6">
        <p class="font-bold text-3xl mb-4">Did you know that I?</p>
        <p class="mb-4">I am a great listener, a lifelong optimist, and I enjoy an unburdened outlook on life. I delight in the luxuries and simple pleasures in life: beautiful surroundings, fantastic food, and great company.</p>
        <p class="mb-4">I am being described as a classy woman, very sensual and sweet. For me life is all about excitement and experiences. I am in love with traveling, healthy lifestyle, dance, sports but I am always interested in learning new things.</p>
        <p class="mb-4">I like to mix things and always be a presence worth noticing. Whether I wear a smooth cocktail dress, a classic designer outfit or a smart casual style, I will always make you proud choosing the appropriate apparel for the occasion. I will always wear chic and luxurious lingerie beneath my outfit and I will always remember to whisper nice, erotic things to your ear, I never want you to forget why you are with me. I also love to wear high heels, glamorous fragrances and jewelry.</p>
        <p class="mb-4">I love to be spoiled. Gifts are never expected but will make me blush and smile in thanks. What girl doesn't love flowers. However, if you would like to get me something really special I keep a wishlist I </p>
      </div>
      <div class="w-1/4">
        <p class="font-bold text-3xl mb-14">“ A good guy will tell you are beautiful. A real gentleman will make you believe it.</p>
        <div class="border-2 border-amber-500 text-center relative mt-12 ">
          <p class="font-bold absolute -top-4 left-16 bg-white text-xl w-52">Take the next step</p>
          <p class="pt-4">Tell me more and let's together!</p>
          <button class="border-amber-400 border text-white bg-amber-500 p-2 my-4">Contact-me</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="flex justify-around  mx-auto mb-32">
      <div class="bg-cover bg-no-repeat w-96 h-96"  style="background-image: url('https://www.elite-ninarose.com/assets/blogs/1663257863_blogs_160_63234d0799835.jpeg')">
      </div>
      <div class="bg-cover bg-no-repeat w-96 h-96" style="background-image: url('https://www.elite-ninarose.com/assets/blogs/1663257840_blogs_162_63234cf058a2a.jpeg')">
      </div>
      <div class="bg-cover bg-no-repeat w-96 h-96" style="background-image: url('https://www.elite-ninarose.com/assets/blogs/1664354154_blogs_164_6334076a6bfed.jpeg')">

      </div>
    </div>
  </div>
  <div class="p-10 w-1/2 flex justify-around">
    <div class="text-center">
      <p class="font-rose text-4xl leading-6">Nina Rose</p>
      <p class="text-xs">VIP LUXURY COMPANION</p>
    </div>
    <div class="text-xs">
      <p>Phone: +41 77 938 96 28</p>
      <p>email: hello@elite-ninarose.com</p>
      <p>Whatsapp: +41 77 938 96 28</p>
    </div>
  </div>
</div>

